ttrs==20.3.0
aws-cdk.assets==1.79.0
aws-cdk.aws-apigateway==1.79.0
aws-cdk.aws-applicationautoscaling==1.79.0
aws-cdk.aws-autoscaling-common==1.79.0
aws-cdk.aws-certificatemanager==1.79.0
aws-cdk.aws-cloudformation==1.79.0
aws-cdk.aws-cloudwatch==1.79.0
aws-cdk.aws-codeguruprofiler==1.79.0
aws-cdk.aws-dynamodb==1.79.0
aws-cdk.aws-ec2==1.79.0
aws-cdk.aws-ecr==1.79.0
aws-cdk.aws-ecr-assets==1.79.0
aws-cdk.aws-efs==1.79.0
aws-cdk.aws-elasticloadbalancingv2==1.79.0
aws-cdk.aws-events==1.79.0
aws-cdk.aws-iam==1.79.0
aws-cdk.aws-kms==1.79.0
aws-cdk.aws-lambda==1.79.0
aws-cdk.aws-logs==1.79.0
aws-cdk.aws-rds==1.79.0
aws-cdk.aws-route53==1.79.0
aws-cdk.aws-s3==1.79.0
aws-cdk.aws-s3-assets==1.79.0
aws-cdk.aws-sam==1.79.0
aws-cdk.aws-secretsmanager==1.79.0
aws-cdk.aws-sns==1.79.0
aws-cdk.aws-sqs==1.79.0
aws-cdk.aws-ssm==1.79.0
aws-cdk.cloud-assembly-schema==1.79.0
aws-cdk.core==1.79.0
aws-cdk.custom-resources==1.79.0
aws-cdk.cx-api==1.79.0
aws-cdk.region-info==1.79.0
-e git+https://github.com/tomcavanaugh/aws-python.git@cefe962563678500082be4c37a293890ae816704#egg=aws_python
cattrs==1.1.2
constructs==3.2.76
jsii==1.16.0
publication==0.0.3
PyMySQL==0.10.1
python-dateutil==2.8.1
six==1.15.0
typing-extensions==3.7.4.3